body{
    margin: 0;
    padding: 0;
    background-color: rgb(240,60,5);
    color: white;
}

#title{
    text-align: center;
    text-decoration: underline;
}
button{
    background-color: aqua;
    font-size: 150%;
}

#inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#filter{
    display: flex;
    flex-direction: column;
}

#dropdown{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#dropdown-content{
    display: flex;
    flex-direction: column;
    opacity: 0;
}

#dropdown-content:hover{
    display: flex;
    flex-direction: column;
    opacity: 100;
}
